:root {
  --bs-primary: #8b4513;
  --bs-secondary: #a0522d;
  --bs-primary-rgb: 139, 69, 19;
  --bs-secondary-rgb: 160, 82, 45;
}
body {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
}
.menu {
  background: linear-gradient(
    to right,
    rgba(var(--bs-primary-rgb), 0.95),
    rgba(var(--bs-secondary-rgb), 0.95)
  );
}
.navbar-nav li {
  padding: 0 0.7rem;
}
.navbar-nav a {
  color: white !important;
  text-transform: capitalize;
  font-weight: 600;
}
.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: white;
}
.btn-book {
  background-color: #8b4513;
  border: none;
  text-transform: capitalize;
  font-weight: 600;
  padding: 7px 15px;
}
.btn-book:hover {
  transform: translateY(1.5px);
  background-color: #8b4513;
}
.btn-book:active {
  background-color: #8b4513 !important;
}
.intro-section {
  padding: 6rem 0 0 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(var(--bs-primary-rgb), 0.95),
    rgba(var(--bs-secondary-rgb), 0.95)
  );
}
.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}
.intro {
  display: inline-block;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.description {
  font-size: 1rem;
  display: block;
  margin-top: 1rem;
  text-transform: none;
}
.btn-cta {
  background-color: #612c07;
  color: rgb(236, 200, 152);
  border: none;
  margin-top: 10px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.btn-cta:hover {
  background-color: #612c07;
  transform: translateY(2px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}
.about {
  padding: 10rem 0 10rem 0;
}
.companies {
  padding: 6rem 0 6rem 0;
}
.logobox {
  max-width: 100%;
  height: 5rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  text-align: center;
  position: relative;
}
.logobox img {
  width: auto;
  height: 100%;
  object-fit: contain;
}
.gallery {
  background: linear-gradient(
    to right,
    rgba(var(--bs-primary-rgb), 0.95),
    rgba(var(--bs-secondary-rgb), 0.95)
  );
}
.gallery-img {
  overflow: hidden;
}
.gallery-img img {
  width: 100%;
  height: 100%;
}
.heading-line {
  border: 3px solid #8b4513;
  width: 15rem;
  margin: 0 auto;
}
.vendor {
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(var(--bs-primary-rgb), 0.95),
    rgba(var(--bs-secondary-rgb), 0.95)
  );
  padding: 5rem 0 0 0;
  /* height: 100vh; */
}
.vendor .content {
  padding: 1.5rem 0 4rem 0;
}
.form {
  width: 500px;
  max-width: 90%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.form input {
  border: 2px solid gray;
}
.form input[type="text"] {
  text-transform: capitalize;
}
.btn-sub {
  background-color: #8b4513;
  color: white;
}
.btn-sub:hover,
.btn-sub:active {
  background-color: #8b4513 !important;
  color: white;
}
.btn-sub:hover {
  transform: translateY(2px);
  color: white;
}
.error {
  border: 2px solid red;
}
.social-login {
  width: 100%;
  padding: 0.3rem;
  border: none;
  background-color: rgb(228, 221, 221);
  border-radius: 5px;
  margin: 0 auto;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #333;
}
footer {
  display: flex;
  color: white;
  justify-content: space-around;
  box-shadow: 0 -10px 8px rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
  text-align: center;
  background: linear-gradient(
    to right,
    rgba(var(--bs-primary-rgb), 0.95),
    rgba(var(--bs-secondary-rgb), 0.95)
  );
}

footer p {
  /* margin: 0 auto; */
  font-size: 1.3rem;
  font-weight: 600;
}
.news h2{
  margin-bottom: 20px;
}
.news input {
  width: 350px;
  padding: 0.45rem;
  outline: none;
  border-radius: 2px;
  border: none;
}
.news button {
  padding: 7px 15px;
  border-radius: 5px;
  border: none;
  background-color: #8b4513;
  font-weight: bold;
  color: white;
}
.news button:hover {
  transform: translateY(2px);
}
.contact-us{
  font-weight: 600;
  font-size: 24px;
}
.contact-us div {
  margin: 5px;
  text-align: justify;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
}
.contact-us div:hover {
  text-decoration: underline;
}
